@import url('https://fonts.rcvd.io/iA Writer/stylesheet.css');
:root {
  /* Black and white */
  --cl-white:		#FFFFFF;
  --cl-black:		#000000;
  
  /* Gray */
  --cl-gray-50:		#f4f5f5;
  --cl-gray-100:	#e5e6e6;
  --cl-gray-200: 	#dcdcdc;
  --cl-gray-300: 	#bdbdbd;
  --cl-gray-400: 	#99999d;
  --cl-gray-500: 	#797a79;
  --cl-gray-600: 	#646464;
  --cl-gray-700: 	#454545;
  --cl-gray-800: 	#272727;
  --cl-gray-900:	#1a1a1a;

  /* Red */
  --cl-red-50:		#FEF2F2;
  --cl-red-100:		#FEE2E2;
  --cl-red-200:		#FECACA;
  --cl-red-300:		#FCA5A5;
  --cl-red-400:		#F87171;
  --cl-red-500:		#EF4444;
  --cl-red-600:		#DC2626;
  --cl-red-700:		#B91C1C;
  --cl-red-800:		#991B1B;
  --cl-red-900:		#7F1D1D;

  /* Yellow */
  --cl-yellow-50:	#FFFBEB;
  --cl-yellow-100:	#FEF3C7;
  --cl-yellow-200:	#FDE68A;
  --cl-yellow-300:	#FCD34D;
  --cl-yellow-400:	#FBBF24;
  --cl-yellow-500:	#F59E0B;
  --cl-yellow-600:	#D97706;
  --cl-yellow-700:	#B45309;
  --cl-yellow-800:	#92400E;
  --cl-yellow-900:	#78350F;

  /* Green */
  --cl-green-50:	#ECFDF5;
  --cl-green-100:	#D1FAE5;
  --cl-green-200:	#A7F3D0;
  --cl-green-300:	#6EE7B7;
  --cl-green-400:	#34D399;
  --cl-green-500:	#10B981;
  --cl-green-600:	#059669;
  --cl-green-700:	#047857;
  --cl-green-800:	#065F46;
  --cl-green-900:	#064E3B;
	
  /* Blue */
  --cl-blue-50:		#EFF6FF;
  --cl-blue-100:	#DBEAFE;
  --cl-blue-200:	#BFDBFE;
  --cl-blue-300:	#93C5FD;
  --cl-blue-400:	#60A5FA;
  --cl-blue-500:	#3B82F6;
  --cl-blue-600:	#2563EB;
  --cl-blue-700:	#1D4ED8;
  --cl-blue-800:	#1E40AF;
  --cl-blue-900:	#1E3A8A;

  /* Indigo */
  --cl-indigo-50:	#EEF2FF;
  --cl-indigo-100:	#E0E7FF;
  --cl-indigo-200:	#C7D2FE;
  --cl-indigo-300:	#A5B4FC;
  --cl-indigo-400:	#818CF8;
  --cl-indigo-500:	#6366F1;
  --cl-indigo-600:	#4F46E5;
  --cl-indigo-700:	#4338CA;
  --cl-indigo-800:	#3730A3;
  --cl-indigo-900:	#312E81;
  
  /* Purple */
  --cl-purple-50:	#F5F3FF;
  --cl-purple-100:	#EDE9FE;
  --cl-purple-200:	#DDD6FE;
  --cl-purple-300:	#C4B5FD;
  --cl-purple-400:	#A78BFA;
  --cl-purple-500:	#8B5CF6;
  --cl-purple-600:	#7C3AED;
  --cl-purple-700:	#6D28D9;
  --cl-purple-800:	#5B21B6;
  --cl-purple-900:	#4C1D95;
  
  /* Pink */
  --cl-pink-50:		#FDF2F8;
  --cl-pink-100:	#FCE7F3;
  --cl-pink-200:	#FBCFE8;
  --cl-pink-300:	#F9A8D4;
  --cl-pink-400:	#F472B6;
  --cl-pink-500:	#EC4899;
  --cl-pink-600:	#DB2777;
  --cl-pink-700:	#BE185D;
  --cl-pink-800:	#9D174D;
  --cl-pink-900:	#831843;
}
:root{
  --a-bc-ui__button: 		var(--cl-gray-200);
  --a-co-ui__button: 		var(--cl-gray-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-bc-ui__button: 			var(--cl-gray-800);
    --a-co-ui__button: 			var(--cl-gray-500);
  }
}
:root {
  --a-bc-ui__buttonwarning: 		var(--cl-yellow-500);
  --a-bt-ui__buttonwarning: 		1px solid var(--cl-yellow-700);
  --a-br-ui__buttonwarning: 		1px solid var(--cl-yellow-700);
  --a-bb-ui__buttonwarning: 		1px solid var(--cl-yellow-700);
  --a-bl-ui__buttonwarning: 		1px solid var(--cl-yellow-700);
  --a-bd-ui__buttonwarning: 		0px;
  --a-co-ui__buttonwarning: 		#fff;
  --a-ff-ui__buttonwarning:		 	;
  --a-fs-ui__buttonwarning: 		;
  --a-ft-ui__buttonwarning: 		;
  --a-fw-ui__buttonwarning: 		;
  --a-td-ui__buttonwarning: 		;
  --a-tt-ui__buttonwarning: 		;
  --a-bc-ui__buttonwarning-hover:	var(--cl-yellow-700);
  --a-co-ui__buttonwarning-hover: 	#fff;
}
:root {
  --a-bc-ui__buttondanger:	var(--cl-red-500);
  --a-bc-ui__buttondanger:	var(--cl-red-700);
}

@media (prefers-color-scheme: dark) {
  :root { 
    --a-bc-ui__buttondanger:	var(--cl-red-500);
    --a-bc-ui__buttondanger:	var(--cl-red-300);
  }
}
:root {
  --a-co-ui__buttonicon: var(--cl-gray-700);
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-co-ui__buttonicon: var(--cl-gray-300); 
  }
}
:root {
  --a-bc-ui__card: 		var(--cl-white);
  --a-bt-ui__card: 		1px solid var(--cl-gray-100);
  --a-br-ui__card: 		1px solid var(--cl-gray-100);
  --a-bb-ui__card: 		1px solid var(--cl-gray-100);
  --a-bl-ui__card: 		1px solid var(--cl-gray-100);
  --a-bd-ui__card: 		3px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-bc-ui__card: 	var(--cl-black);
    --a-bt-ui__card: 	1px solid var(--cl-gray-800);
    --a-br-ui__card: 	1px solid var(--cl-gray-800);
    --a-bb-ui__card: 	1px solid var(--cl-gray-800);
    --a-bl-ui__card: 	1px solid var(--cl-gray-800);
    --a-bd-ui__card: 	3px; 
  }
}
:root {
  --a-bc-ui__checkbox: 				var(--cl-white);
  --a-bt-ui__checkbox: 				1px solid var(--cl-gray-100);
  --a-br-ui__checkbox: 				1px solid var(--cl-gray-100);
  --a-bb-ui__checkbox: 				1px solid var(--cl-gray-100);
  --a-bl-ui__checkbox: 				1px solid var(--cl-gray-100);
  --a-bc-ui__checkbox-hover: 		var(--cl-blue-500);
  --a-bc-ui__checkbox-checked: 		var(--cl-green-600);
  --a-bc-ui__checkbox-checkedhover: var(--cl-blue-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-bc-ui__checkbox: 			var(--cl-black);
    --a-bt-ui__checkbox: 			1px solid var(--cl-gray-900);
    --a-br-ui__checkbox: 			1px solid var(--cl-gray-900);
    --a-bb-ui__checkbox: 			1px solid var(--cl-gray-900);
    --a-bl-ui__checkbox: 			1px solid var(--cl-gray-900);
    --a-bc-ui__checkbox-hover: 		var(--cl-blue-900);
  }
}
:root {
  --a-bc-ui__switch: var(--cl-gray-500);
  --a-bt-ui__switch: ;
  --a-br-ui__switch: ;
  --a-bb-ui__switch: ;
  --a-bl-ui__switch: ;
  --a-bd-ui__switch: 1.75em;
  --a-bc-ui__switch-hover: var(--cl-blue-500);
  --a-bc-ui__switch-checked: var(--cl-green-500);
}
:root {
  --a-bc-ui__datepicker-hover: var(--cl-gray-500);
  --a-co-ui__datepicker-hover: var(--cl-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-co-ui__datepickerselect: var(--cl-gray-100);
    --a-co-ui__datepickerselect-hover: var(--cl-gray-100);
    --a-bc-ui__datepickerselect-hover: var(--cl-red-500);
    --a-co-ui__datepicker-hover: var(--cl-white);
    --a-bc-ui__datepicker-hover: var(--cl-red-500);
  }
}
:root {
  --a-bc-ui_dialog: var(--cl-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-bc-ui_dialog: var(--cl-gray-900); 
  }
}
:root {
  --a-bc-ui__elevation: 		var(--cl-white);
  --a-bt-ui__elevation: 		1px solid var(--cl-gray-100);
  --a-br-ui__elevation: 		1px solid var(--cl-gray-100);
  --a-bb-ui__elevation: 		1px solid var(--cl-gray-100);
  --a-bl-ui__elevation: 		1px solid var(--cl-gray-100);
  --a-bd-ui__elevation: 		3px;
  --a-co-ui__elevation: 		var(--cl-gray-900);
  --a-bc-ui__elevation-hover: 	var(--cl-blue-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-bc-ui__elevation: 		var(--cl-gray-900);
    --a-bt-ui__elevation: 		1px solid var(--cl-gray-800);
    --a-br-ui__elevation: 		1px solid var(--cl-gray-800);
    --a-bb-ui__elevation: 		1px solid var(--cl-gray-800);
    --a-bl-ui__elevation: 		1px solid var(--cl-gray-800);
    --a-co-ui__elevation: 		var(--cl-gray-500);
    --a-bc-ui__elevation-hover: transparent;
    --a-co-ui__elevation-hover: var(--cl-red-500);
  }
}
:root {
  --a-co-ui__elevationkeyprompt: 	var(--cl-gray-700);
  --a-ff-ui__elevationkeyprompt: 	'iA Writer Mono S';
  --a-fs-ui__elevationkeyprompt: 	12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-co-ui__elevationkeyprompt: 	var(--cl-gray-600);
  }
}
:root {
  --a-co-ui__elevationicon: 	var(--cl-gray-700);
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-co-ui__elevationicon: 	var(--cl-gray-500);     
  }
}
:root {
  --a-bc-ui__popover: 		white;
  --a-bt-ui__popover: 		1px solid var(--cl-gray-100);
  --a-br-ui__popover: 		1px solid var(--cl-gray-100);
  --a-bb-ui__popover: 		1px solid var(--cl-gray-100);
  --a-bl-ui__popover: 		1px solid var(--cl-gray-100);
  --a-bd-ui__popover: 		0px;
  --a-co-ui__popoverarrow:	var(--cl-gray-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-bc-ui__popover: 	black;
    --a-bt-ui__popover: 	1px solid var(--cl-gray-800);
    --a-br-ui__popover: 	1px solid var(--cl-gray-800);
    --a-bb-ui__popover: 	1px solid var(--cl-gray-800);
    --a-bl-ui__popover: 	1px solid var(--cl-gray-800);
    --a-co-ui__popoverarrow:	var(--cl-gray-800);
  }
}
:root {
  --a-co-ui__popover: var(--cl-gray-900);
  --a-ff-ui__popover: 'iA Writer Quattro S';
  --a-bc-ui__popover-hover: var(--cl-blue-200);
  --a-co-ui__popover-hover: var(--cl-gray-900);
  --a-bc-ui__popover-active: var(--cl-blue-50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-co-ui__popover: var(--cl-gray-500);
    --a-bc-ui__popover-hover: transparent;
    --a-co-ui__popover-hover: var(--cl-white);
  }
}
:root {
  --a-bc-ui__popoverbutton: 		transparent;
  --a-bt-ui__popoverbutton: 		1px solid var(--cl-gray-300);
  --a-br-ui__popoverbutton: 		1px solid var(--cl-gray-300);
  --a-bb-ui__popoverbutton: 		1px solid var(--cl-gray-300);
  --a-bl-ui__popoverbutton: 		1px solid var(--cl-gray-300);
  --a-bd-ui__popoverbutton: 		0px;
  --a-co-ui__popoverbutton: 		var(--cl-gray-500);
  --a-bc-ui__popoverbutton-hover: 	var(--cl-blue-100);
  --a-co-ui__popoverbutton-hover: 	inherit;
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-bc-ui__popoverbutton: 		var(--cl-gray-700);
    --a-bt-ui__popoverbutton: 		1px solid var(--cl-gray-700);
    --a-br-ui__popoverbutton: 		1px solid var(--cl-gray-700);
    --a-bb-ui__popoverbutton: 		1px solid var(--cl-gray-700);
    --a-bl-ui__popoverbutton: 		1px solid var(--cl-gray-700);
    --a-co-ui__popoverbutton: 		var(--cl-gray-200);
    --a-bc-ui__popoverbutton-hover: var(--cl-red-500);
    --a-co-ui__popoverbutton-hover: var(--cl-white); 
  }
}
:root {
  --a-bc-ui__popoversearch: var(--cl-gray-50);
  --a-bt-ui__popoversearch: 1px solid var(--cl-gray-100);
  --a-br-ui__popoversearch: 1px solid var(--cl-gray-100);
  --a-bb-ui__popoversearch: 1px solid var(--cl-gray-100);
  --a-bl-ui__popoversearch: 1px solid var(--cl-gray-100);
  --a-bd-ui__popoversearch: ;
  --a-co-ui__popoversearch: ;
  --a-ff-ui__popoversearch: 'iA Writer Quattro S';
  --a-fs-ui__popoversearch: inherit;
  --a-ft-ui__popoversearch: normal;
  --a-fw-ui__popoversearch: 400;
  --a-td-ui__popoversearch: ;
  --a-tt-ui__popoversearch: ;
  --a-bc-ui__popoversearch-focus: var(--cl-blue-50);
  --a-bt-ui__popoversearch-focus: 1px solid var(--cl-blue-100);
  --a-br-ui__popoversearch-focus: 1px solid var(--cl-blue-100);
  --a-bb-ui__popoversearch-focus: 1px solid var(--cl-blue-100);
  --a-bl-ui__popoversearch-focus: 1px solid var(--cl-blue-100);
  --a-bd-ui__popoversearch-focus: ;
  --a-co-ui__popoversearch-focus: ;
  --a-co-ui__popoversearchplaceholder: var(--cl-gray-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-bc-ui__popoversearch: var(--cl-gray-900);
    --a-bt-ui__popoversearch: 1px solid var(--cl-gray-700);
    --a-br-ui__popoversearch: 1px solid var(--cl-gray-700);
    --a-bb-ui__popoversearch: 1px solid var(--cl-gray-700);
    --a-bl-ui__popoversearch: 1px solid var(--cl-gray-700);
    --a-bc-ui__popoversearch-focus: var(--cl-gray-900);
    --a-bt-ui__popoversearch-focus: 1px solid var(--cl-red-500);
    --a-br-ui__popoversearch-focus: 1px solid var(--cl-red-500);
    --a-bb-ui__popoversearch-focus: 1px solid var(--cl-red-500);
    --a-bl-ui__popoversearch-focus: 1px solid var(--cl-red-500);  
  }
}
:root {
  --a-br-ui__popoverhr: var(--cl-gray-200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-br-ui__popoverhr: var(--cl-gray-800);   
  }
}
:root {
  --a-co-ui__popoverhelp: var(--cl-gray-500);
}
:root {
  --a-co-ui__popoverlabel: var(--cl-gray-500);
}
:root {
  --a-bc-ui__tooltip: 		var(--cl-gray-100);
  --a-bt-ui__tooltip: 		1px solid var(--cl-gray-100);
  --a-br-ui__tooltip: 		1px solid var(--cl-gray-100);
  --a-bb-ui__tooltip: 		1px solid var(--cl-gray-100);
  --a-bl-ui__tooltip: 		1px solid var(--cl-gray-100);  
  --a-bd-ui__tooltip:		3px;
  --a-co-ui__tooltip: 		var(--cl-gray-700);
  --a-ff-ui__tooltip: 		'iA Writer Quattro S';
  --a-bc-ui__tooltiparrow: 	var(--cl-gray-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-bc-ui__tooltip: 		var(--cl-black);
    --a-bt-ui__tooltip: 		1px solid var(--cl-black);
    --a-br-ui__tooltip: 		1px solid var(--cl-black);
    --a-bb-ui__tooltip: 		1px solid var(--cl-black);
    --a-bl-ui__tooltip: 		1px solid var(--cl-black);  
    --a-co-ui__tooltip: 		var(--cl-gray-300);
    --a-bc-ui__tooltiparrow: 	var(--cl-black);     
  }
}
:root {
  --a-co-ui_usersettingsh2: var(--cl-gray-900);
  --a-ff-ui_usersettingsh2: ;
  --a-fs-ui_usersettingsh2: 20px;
  --a-ft-ui_usersettingsh2: normal;
  --a-fw-ui_usersettingsh2: normal;
  --a-td-ui_usersettingsh2: none;
  --a-tt-ui_usersettingsh2: none;
  --a-co-ui_usersettingsh4: var(--cl-gray-300);
  --a-ff-ui_usersettingsh4: ;
  --a-fs-ui_usersettingsh4: 12px;
  --a-ft-ui_usersettingsh4: normal;
  --a-fw-ui_usersettingsh4: normal;
  --a-td-ui_usersettingsh4: none;
  --a-tt-ui_usersettingsh4: uppercase;
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-co-ui_usersettingsh2: var(--cl-gray-100);
    --a-co-ui_usersettingsh4: var(--cl-gray-700);
  }
}
:root {
  --a-bc-ui__usersettingskbdshortcut: var(--cl-gray-50);
  --a-bt-ui__usersettingskbdshortcut: 1px solid var(--cl-gray-100);
  --a-br-ui__usersettingskbdshortcut: 1px solid var(--cl-gray-100);
  --a-bb-ui__usersettingskbdshortcut: 1px solid var(--cl-gray-100);
  --a-bl-ui__usersettingskbdshortcut: 1px solid var(--cl-gray-100);
  --a-bd-ui__usersettingskbdshortcut: 5px;
  --a-co-ui__usersettingskbdshortcut: var(--cl-gray-700);
  --a-ff-ui__usersettingskbdshortcut: 'iA Writer Mono S';
  --a-fs-ui__usersettingskbdshortcut: 12px;
  --a-ft-ui__usersettingskbdshortcut: ;
  --a-fw-ui__usersettingskbdshortcut: ;
  --a-td-ui__usersettingskbdshortcut: ;
  --a-tt-ui__usersettingskbdshortcut: ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-bc-ui__usersettingskbdshortcut: var(--cl-gray-700);
    --a-bt-ui__usersettingskbdshortcut: 1px solid var(--cl-gray-900);
    --a-br-ui__usersettingskbdshortcut: 1px solid var(--cl-gray-900);
    --a-bb-ui__usersettingskbdshortcut: 1px solid var(--cl-gray-900);
    --a-bl-ui__usersettingskbdshortcut: 1px solid var(--cl-gray-900);
    --a-co-ui__usersettingskbdshortcut: var(--cl-gray-300);     
  }
}
:root {
  --a-bc-ui__usersettingsinput: 				var(--cl-gray-50);
  --a-bt-ui__usersettingsinput: 				1px solid var(--cl-gray-100);
  --a-br-ui__usersettingsinput: 				1px solid var(--cl-gray-100);
  --a-bb-ui__usersettingsinput: 				1px solid var(--cl-gray-100);
  --a-bl-ui__usersettingsinput: 				1px solid var(--cl-gray-100);
  --a-bd-ui__usersettingsinput: 				3px;
  --a-co-ui__usersettingsinput: 				var(--cl-gray-900);
  --a-ff-ui__usersettingsinput: 				'iA Writer Quattro S';
  --a-co-ui__usersettingsinputplaceholder:		var(--cl-gray-400);
  --a-bc-ui__usersettingsinput-focus:			var(--cl-blue-50);
  --a-bt-ui__usersettingsinput-focus:			1px solid var(--cl-blue-100);
  --a-br-ui__usersettingsinput-focus:			1px solid var(--cl-blue-100);
  --a-bb-ui__usersettingsinput-focus:			1px solid var(--cl-blue-100);
  --a-bl-ui__usersettingsinput-focus:			1px solid var(--cl-blue-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-bc-ui__usersettingsinput: 				var(--cl-gray-800);
    --a-bt-ui__usersettingsinput: 				1px solid var(--cl-gray-700);
    --a-br-ui__usersettingsinput: 				1px solid var(--cl-gray-700);
    --a-bb-ui__usersettingsinput: 				1px solid var(--cl-gray-700);
    --a-bl-ui__usersettingsinput: 				1px solid var(--cl-gray-700);
    --a-bd-ui__usersettingsinput: 				3px;
    --a-co-ui__usersettingsinput: 				var(--cl-gray-100);
    --a-ff-ui__usersettingsinput: 				'iA Writer Quattro S';
    --a-co-ui__usersettingsinputplaceholder:	var(--cl-gray-600);
    --a-bc-ui__usersettingsinput-focus:			var(--cl-gray-800);
    --a-bt-ui__usersettingsinput-focus:			1px solid var(--cl-blue-500);
    --a-br-ui__usersettingsinput-focus:			1px solid var(--cl-blue-500);
    --a-bb-ui__usersettingsinput-focus:			1px solid var(--cl-blue-500);
    --a-bl-ui__usersettingsinput-focus:			1px solid var(--cl-blue-500);   
  }
}
:root {
  --a-co-ui__usersettingsreflink: var(--cl-gray-500);
  --a-ff-ui__usersettingsreflink: ;
  --a-fs-ui__usersettingsreflink: ;
  --a-ft-ui__usersettingsreflink: ;
  --a-fw-ui__usersettingsreflink: ;
  --a-td-ui__usersettingsreflink: ;
  --a-tt-ui__usersettingsreflink: ;
}
:root {
  --a-co-ui__usersettingsdetails: var(--cl-gray-500);
  --a-ff-ui__usersettingsdetails: ;
  --a-fs-ui__usersettingsdetails: ;
  --a-ft-ui__usersettingsdetails: italic;
  --a-fw-ui__usersettingsdetails: ;
  --a-td-ui__usersettingsdetails: ;
  --a-tt-ui__usersettingsdetails: ;
}
:root {
  --a-bc-ls:	var(--cl-gray-50);
  --a-br-ls:	1px solid var(--cl-gray-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --a-bc-ls:	var(--cl-gray-800);
    --a-br-ls:	1px solid var(--cl-gray-900);     
  }
}
