@import url('https://fonts.rcvd.io/iA Writer/stylesheet.css');
:root {
  --fnt-default: 'iA Writer Quattro S', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
:root {
  --fnt-help:		'iA Writer Quattro S', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --fnt-size-help: 	14px;
}
:root {
  --fnt-left-sidebar:		'iA Writer Quattro S', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --fnt-size-left-sidebar: 	14px;
}
:root {
  --fnt-menu:     			'iA Writer Quattro S', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
:root {
  --fnt-input: 				'iA Writer Quattro S', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
:root {
  --fnt-text:     		'iA Writer Quattro S', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --fnt-size-text:		16px;
}
:root {
  --fnt-page-title: 		'iA Writer Quattro S', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --fnt-h1:       			'iA Writer Quattro S', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --fnt-h2:       			'iA Writer Quattro S', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --fnt-h3:       			'iA Writer Quattro S', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --fnt-size-page-title: 	22px;
  --fnt-size-h1:       		18px;
  --fnt-size-h2:       		17px;
  --fnt-size-h3:       		16px;
  --fnt-style-h1:			normal;
  --fnt-style-h2:			normal;
  --fnt-style-h3:			normal;
  --fnt-weight-h1:			500;
  --fnt-weight-h2:			500;
  --fnt-weight-h3:			500;
}
:root {
  --fnt-tags:			'iA Writer Quattro S', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
:root {
  --fnt-code:     		'iA Writer Mono S', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --fnt-size-code:		14px;
}
:root {
  --fnt-size-quote: 16px;
  --fnt-style-quote: normal;
}
:root {
  --cl-white:			#ffffff;
  --cl-gray-50:			#f4f5f5;
  --cl-gray-100:		#e5e6e6;
  --cl-gray-200: 		#dcdcdc;
  --cl-gray-300: 		#bdbdbd;
  --cl-gray-400: 		#99999d;
  --cl-gray-500: 		#797a79;
  --cl-gray-600: 		#646464;
  --cl-gray-700: 		#454545;
  --cl-gray-800: 		#272727;
  --cl-gray-900:		#1a1a1a;
  --cl-black:			#000000;
  --cl-blue-50:			#e8f2ff;
  --cl-blue-200:		#bfdbfe;
  --cl-yellow-200:		#fde68a;
  --cl-red-50:			#fef2f2;
  --cl-red-500: 		#fe3c30;
  --cl-orange-500:	 	#fe9500;
  --cl-yellow-500: 		#fecc00;
  --cl-green-50:		#ecfdf5;
  --cl-green-500: 		#27cd41;
  --cl-blue-500: 		#007aff;
  --cl-indigo-500: 		#5756d5;
  --cl-purple-500: 		#af52de;
  --cl-pink-500: 		#fe2e55;	
  --cl-brown-500: 		#a2845e;
}
:root {
  --fg-all-pages-title:					var(--cl-gray-800);
  --bg-all-pages-header:				var(--cl-gray-100);
  --fg-all-pages-header:				var(--cl-gray-800);
  --fg-all-pages-header-sorted:			var(--cl-gray-900);
  --bg-all-pages-clickable-pill:		var(--cl-gray-800);
  --fg-all-pages-title-col:				var(--cl-gray-500);
  --fg-all-pages-row:					var(--cl-gray-500);
  --br-all-pages-row:					var(--cl-gray-400);
}

@media (prefers-color-scheme: dark) {
  :root {
  --fg-all-pages-title:					var(--cl-gray-200);
    --bg-all-pages-header:				var(--cl-gray-800);
    --fg-all-pages-header:				var(--cl-gray-200);
    --fg-all-pages-header-sorted:	    var(--cl-gray-100);
    --bg-all-pages-clickable-pill:		var(--cl-gray-400);
    --fg-all-pages-title-col:		    var(--cl-gray-500);
    --fg-all-pages-row:					var(--cl-gray-500);
    --br-all-pages-row:					var(--cl-gray-600);
  }
}
:root {
  --fg-brackets: var(--cl-gray-500);
}
:root {
  --fg-buttons:			var(--cl-gray-400);
  --bg-buttons: 		transparent;
  --fg-buttons-hover:	var(--cl-gray-500);
  --bg-buttons-hover:	transparent;
}
:root {
  --fg-caret: 	var(--cl-gray-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-caret: 	var(--cl-gray-300);
  }
}
:root {
  --bg-help:	var(--cl-gray-100);
  --fg-help:	var(--cl-gray-600);
}

@media (prefers-color-scheme: dark) {
  :root {
  	--bg-help:	var(--cl-gray-800);
  	--fg-help:	var(--cl-gray-300);
  }
}
:root {
  --bg-left-sidebar:		var(--cl-gray-50);
  --bg-left-sidebar-hover:	var(--cl-gray-50);
  --bg-left-sidebar-hr:		var(--cl-gray-500);
  --fg-left-sidebar:		var(--cl-gray-700);
  --fg-left-sidebar-hover:	var(--cl-gray-700);
  --fg-left-dropdown-title:	var(--cl-gray-400);
  --fg-left-sidebar-icons: 	var(--cl-gray-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-left-sidebar:			var(--cl-gray-800);
    --bg-left-sidebar-hover:	var(--cl-gray-800);
    --bg-left-sidebar-hr:		var(--cl-gray-500);
    --fg-left-sidebar:			var(--cl-gray-100);
    --fg-left-sidebar-hover:	var(--cl-white);
    --fg-left-dropdown-title:	var(--cl-gray-400);
    --fg-left-sidebar-icons: 	var(--cl-gray-400);
  }
}
:root {
  --fg-log-hr: 	var(--cl-gray-400);
  --fg-log:		var(--cl-gray-400);
}

@media (prefers-color-scheme: dark) {
  :root {
  	--fg-log-hr: 	var(--cl-gray-600);
  	--fg-log:		var(--cl-gray-600);
  }
}
:root {
  --bg-menu:			var(--cl-white);
  --bg-menu-hover:		var(--cl-gray-100);
  --fg-menu:			var(--cl-gray-500);
  --fg-menu-hover:		var(--cl-gray-600);
  --fg-menu-secondary: 	var(--cl-gray-700);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-menu:				var(--cl-gray-800);
    --bg-menu-hover:		var(--cl-gray-200);
    --fg-menu:				var(--cl-gray-500);
    --fg-menu-hover:		var(--cl-gray-500);
    --fg-menu-secondary: 	var(--cl-gray-700);
  }
}
:root {
  --br-sidebar-content: var(--cl-gray-200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --br-sidebar-content: var(--cl-gray-700);
  }
}
:root {
  --bg-topbar: 				var(--cl-white);
  --bg-input: 				var(--cl-gray-50);
  --br-input: 				var(--cl-gray-100);
  --fg-input: 				var(--cl-gray-800);
  --fg-input-placeholder: 	var(--cl-gray-400);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-topbar: 				var(--cl-gray-900);
    --bg-input: 				var(--cl-gray-800);
    --br-input: 				var(--cl-gray-900);
    --fg-input: 				var(--cl-gray-100);
    --fg-input-placeholder: 	var(--cl-gray-400);
  }
}
:root {
  --br-block-ref:		var(--cl-gray-100);
  --bg-block-ref-hover: var(--cl-blue-50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --br-block-ref:		var(--cl-gray-700);
    --bg-block-ref-hover: var(--cl-blue-500);
  }
}
:root {
  --primary-color: 		var(--cl-gray-800);
  --background-color: 	var(--cl-white);
  --bg-body:			var(--cl-white);
  --fg-body:			var(--cl-gray-800);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: 		var(--cl-blue-500);
    --background-color: 	var(--cl-gray-900);
    --bg-body:			var(--cl-gray-900);
    --fg-body:			var(--cl-gray-50);
  }
}
:root {
  --bg-zoom:			transparent;
  --fg-zoom:			var(--cl-gray-500);
  --bg-zoom-mask:		var(--cl-gray-50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-zoom:			transparent;
    --fg-zoom:			var(--cl-gray-500);
    --bg-zoom-mask:		var(--cl-gray-800);
  }
}
:root {
  --bg-bullet-inner:			var(--cl-gray-200);
  --bg-bullet-inner-focus: 		var(--cl-red-500);
  --br-bullet-outer:			var(--cl-gray-200);
  --br-block:					var(--cl-gray-200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-bullet-inner:			var(--cl-gray-600);
    --bg-bullet-inner-focus: 	var(--cl-red-500);
    --br-bullet-outer:			var(--cl-gray-600);
    --br-block:					var(--cl-gray-700);
  }
}
:root {
  --fg-h1:				var(--cl-gray-900);
  --fg-h2:				var(--cl-gray-900);
  --fg-h3:				var(--cl-gray-900);
}
@media (prefers-color-scheme: dark) {
  :root {
    --fg-h1:				var(--cl-gray-50);
    --fg-h2:				var(--cl-gray-50);
    --fg-h3:				var(--cl-gray-50);
  }
}
:root {
  --bg-highlight:		var(--cl-blue-50);
  --bg-highlight-blue:	var(--cl-blue-200);
  --bg-highlight-yellow:var(--cl-blue-200);
  --bg-highlight-grey:	var(--cl-gray-200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-highlight:		var(--cl-blue-500);
    --bg-highlight-blue:	var(--cl-blue-500);
    --bg-highlight-yellow:var(--cl-blue-500);
    --bg-highlight-grey:	var(--cl-gray-500);
  }
}
:root {
  --bg-inline-ref:	var(--cl-gray-50);
  --br-inline-ref:	var(--cl-gray-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-inline-ref:	var(--cl-black);
    --br-inline-ref:	var(--cl-gray-500);
  }
}
:root {
  --fg-link:			var(--cl-pink-500);
  --fg-link-hover:		var(--cl-pink-500);
  --fg-reference:		var(--cl-pink-500);
  --fg-reference-hover:	var(--cl-pink-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-link:				var(--cl-pink-500);
    --fg-link-hover:		var(--cl-pink-500);
    --fg-reference:			var(--cl-pink-500);
    --fg-reference-hover:	var(--cl-pink-500);
  }
}
:root {
  --bg-reference:		var(--cl-gray-50);
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-reference:		var(--cl-black);
  }
}
:root {
  --fg-tag:				var(--cl-red-500);
}
:root {
  --fg-calc:		var(--cl-green-500);
}
:root {
  --fg-inline-code:			var(--cl-gray-800);
  --bg-inline-code:			var(--cl-gray-100);
  --br-inline-code:			transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-inline-code:			var(--cl-gray-50);
    --bg-inline-code:			var(--cl-gray-700);
    --br-inline-code:			transparent;
  }
}
:root {
  --bg-code:						var(--cl-gray-50);
  --bg-code-filler:					var(--cl-gray-50);
  --bg-code-gutters:				var(--cl-gray-50);
  --bg-code-selected:				var(--cl-gray-300);
  --bg-code-selection:				var(--cl-blue-200);
  --bg-code-focused:				var(--cl-blue-200);
  --bg-code-searching:				rgba(255, 255, 0, 0.4);	
  --bg-code-matchingtag:			rgba(255, 150, 0, 0.3);
  --bg-code-activeline:				var(--cl-white);
  --bg-code-fat-cursor:				#7e7;
  --bg-code-fat-cursor-mark:		rgba(20, 255, 20, 0.5);
  --bg-code-fat-cursor-animate:		#7e7;
  --br-code-gutters:				var(--cl-gray-100);
  --br-code-cursor:					var(--cl-black);
  --br-code-secondary-cursor:		var(--cl-gray-400);
  --br-code-ruler:					var(--cl-gray-400);
  --fg-code-linenumber:				var(--cl-gray-500);
  --fg-code-guttermarker:			var(--cl-black);
  --fg-code-guttermarker-subtle: 	var(--cl-gray-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-code:						var(--cl-gray-800);
    --bg-code-filler:					var(--cl-gray-800);
    --bg-code-gutters:				var(--cl-gray-800);
    --bg-code-selected:				var(--cl-gray-300);
    --bg-code-selection:				var(--cl-blue-200);
    --bg-code-focused:				var(--cl-blue-200);
    --bg-code-searching:				rgba(255, 255, 0, 0.4);	
    --bg-code-matchingtag:			rgba(255, 150, 0, 0.3);
    --bg-code-activeline:				var(--cl-white);
    --bg-code-fat-cursor:				#7e7;
    --bg-code-fat-cursor-mark:		rgba(20, 255, 20, 0.5);
    --bg-code-fat-cursor-animate:		#7e7;
    --br-code-gutters:				var(--cl-gray-900);
    --br-code-cursor:					var(--cl-white);
    --br-code-secondary-cursor:		var(--cl-gray-600);
    --br-code-ruler:					var(--cl-gray-600);
    --fg-code-linenumber:				var(--cl-gray-500);
    --fg-code-guttermarker:			var(--cl-black);
    --fg-code-guttermarker-subtle: 	var(--cl-gray-500);
  }
}
:root {  
  --fg-code:					var(--cl-gray-400);
  --fg-code-header:				var(--cl-blue-500);
  --fg-code-quote:				var(--cl-green-500);
  --fg-code-negative:			var(--cl-green-500);
  --fg-code-positive:			var(--cl-green-500);
  --fg-code-keyword:			var(--cl-purple-500);
  --fg-code-atom:				var(--cl-blue-500);
  --fg-code-number:				var(--cl-green-500);
  --fg-code-def:				var(--cl-blue-500);
  --fg-code-variable-2:			var(--cl-indigo-500);
  --fg-code-variable-3:			var(--cl-green-500);
  --fg-code-comment:			var(--cl-brown-500);
  --fg-code-string:				var(--cl-green-500);
  --fg-code-string-2:			var(--cl-orange-500);
  --fg-code-meta:				var(--cl-gray-400);
  --fg-code-qualifier:			var(--cl-gray-400);
  --fg-code-builtin:			var(--cl-indigo-500);
  --fg-code-bracket:			var(--cl-gray-500);
  --fg-code-tag:				var(--cl-green-500);
  --fg-code-attribute:			var(--cl-blue-500);
  --fg-code-hr:					var(--cl-gray-600);
  --fg-code-link:				var(--cl-blue-500);
  --fg-code-error:				var(--cl-green-500);
  --fg-code-invalidchar:		var(--cl-green-500);
  --fg-code-matchingbracket: 	var(--cl-green-500);
  --fg-code-nonmatchingbracket:	var(--cl-green-500);
}

@media (prefers-color-scheme: dark) {
  :root {  
    --fg-code:						var(--cl-gray-300);
    --fg-code-header:				var(--cl-blue-500);
    --fg-code-quote:				var(--cl-green-500);
    --fg-code-negative:				var(--cl-green-500);
    --fg-code-positive:				var(--cl-green-500);
    --fg-code-keyword:				var(--cl-purple-500);
    --fg-code-atom:					var(--cl-blue-500);
    --fg-code-number:				var(--cl-green-500);
    --fg-code-def:					var(--cl-blue-500);
    --fg-code-variable-2:			var(--cl-indigo-500);
    --fg-code-variable-3:			var(--cl-green-500);
    --fg-code-comment:				var(--cl-brown-500);
    --fg-code-string:				var(--cl-green-500);
    --fg-code-string-2:				var(--cl-orange-500);
    --fg-code-meta:					var(--cl-gray-400);
    --fg-code-qualifier:			var(--cl-gray-400);
    --fg-code-builtin:				var(--cl-indigo-500);
    --fg-code-bracket:				var(--cl-gray-500);
    --fg-code-tag:					var(--cl-green-500);
    --fg-code-attribute:			var(--cl-blue-500);
    --fg-code-hr:					var(--cl-gray-600);
    --fg-code-link:					var(--cl-blue-500);
    --fg-code-error:				var(--cl-green-500);
    --fg-code-invalidchar:			var(--cl-green-500);
    --fg-code-matchingbracket: 		var(--cl-green-500);
    --fg-code-nonmatchingbracket:	var(--cl-green-500);
  }
}
:root {
  --bg-embed-1: 	var(--cl-gray-50);
  --bg-embed-2: 	var(--cl-gray-100);
  --bg-embed-3: 	var(--cl-gray-200);
  --bg-embed-4: 	var(--cl-gray-300);
  --bg-embed-5: 	var(--cl-gray-400);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-embed-1: 	var(--cl-gray-800);
    --bg-embed-2: 	var(--cl-gray-700);
    --bg-embed-3: 	var(--cl-gray-600);
    --bg-embed-4: 	var(--cl-gray-500);
    --bg-embed-5: 	var(--cl-gray-400);
  }
}
:root {
 --br-hr:	var(--cl-gray-200);
}

@media (prefers-color-scheme: dark) {
  :root {
	--br-hr:	var(--cl-gray-700);
  }
}
:root {
  --bg-kanban-board: 	var(--cl-gray-50);
  --br-kanban-board:	var(--cl-white);
  --bg-kanban-column:	var(--cl-gray-100);
  --bg-kanban-card:		var(--cl-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-kanban-board: 	var(--cl-gray-800);
    --br-kanban-board:	var(--cl-gray-800);
    --bg-kanban-column:	var(--cl-gray-900);
    --bg-kanban-card:		var(--cl-gray-800);
  }
}
:root {
  --bg-mermaid: 		var(--cl-white);
  --bg-mermaid-node: 	var(--cl-gray-300);
  --fg-mermaid-label: 	var(--cl-gray-800);
  --br-mermaid-node: 	var(--cl-gray-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-mermaid: 		var(--cl-white);
    --bg-mermaid-node: 	var(--cl-gray-300);
    --fg-mermaid-label: 	var(--cl-gray-800);
    --br-mermaid-node: 	var(--cl-gray-500);
  }
}
:root {
  --bg-pomodoro: 			var(--cl-white);
  --br-pomodoro: 			var(--cl-gray-100);
  --fg-pomodoro: 			var(--cl-gray-800);
  --bg-pomodoro-running: 	var(--cl-red-50);
  --br-pomodoro-running: 	var(--cl-red-500);
  --fg-pomodoro-running: 	var(--cl-red-500);
  --bg-pomodoro-break: 		var(--cl-green-50);
  --br-pomodoro-break: 		var(--cl-green-500);
  --fg-pomodoro-break: 		var(--cl-green-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-pomodoro: 			var(--cl-black);
    --br-pomodoro: 			var(--cl-gray-800);
    --fg-pomodoro: 			var(--cl-gray-200);
    --bg-pomodoro-running: 	var(--cl-black);
    --br-pomodoro-running: 	var(--cl-red-500);
    --fg-pomodoro-running: 	var(--cl-red-500);
    --bg-pomodoro-break: 	var(--cl-black);
    --br-pomodoro-break: 	var(--cl-green-500);
    --fg-pomodoro-break: 	var(--cl-green-500);
  }
} 
:root {
  --bg-query-title:		var(--cl-gray-100);
  --fg-query-title:		var(--cl-gray-600);
  --br-query:			var(--cl-gray-200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-query-title:	var(--cl-gray-800);
    --fg-query-title:	var(--cl-gray-400);
    --br-query:			var(--cl-gray-800);
  }
}
:root {
  --bg-quote:			var(--cl-white);
  --br-quote:			var(--cl-gray-800);
  --fg-quote:			var(--cl-gray-800);  
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-quote:			var(--cl-gray-900);
    --br-quote:			var(--cl-gray-500);
    --fg-quote:			var(--cl-gray-100);  
  }
}
:root {
  --br-table:	var(--cl-gray-300);
}

@media (prefers-color-scheme: dark) {
  :root {
    --br-table:	var(--cl-gray-600);
  }
}
:root {
  --br-checkbox: var(--cl-gray-300);
  --bg-checkbox-checked: var(--cl-gray-300);
  --br-checkmark: var(--cl-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --br-checkbox: var(--cl-gray-600);
    --bg-checkbox-checked: var(--cl-gray-600);
    --br-checkmark: var(--cl-white);
  }
}
:root {
  --bg-version-bullet: 		var(--cl-gray-400);
  --fg-version-selected: 	var(--cl-pink-500);
  --br-version:				var(--cl-gray-300);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-version-bullet: 		var(--cl-gray-600);
    --fg-version-selected: 		var(--cl-pink-500);
    --br-version:				var(--cl-gray-600);
  }
}
.rm-mentions .rm-ref-page-view .rm-ref-page-view-title {
  font-size: 14px;
}
#buffer {
  box-shadow: -5px -5px 25px -10px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
}
.rm-focused > div > div > span > span .rm-bullet__inner {
  background-color: var(--bg-bullet-inner-focus);
}
#app > div > div > div.roam-sidebar-container.noselect > div > div.flex-v-box.starred-pages-wrapper > div:nth-child(1) {
  display: none;
}
#app > div > div > div.roam-sidebar-container.noselect > div > div.flex-v-box.starred-pages-wrapper > div.flex-h-box {
  display: none;
}
#roam-sidebar-logo {
  display: none;
}
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown {
  opacity: 100%;
  box-shadow: none;
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
  font-weight: 500;
}
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .menu-title {
  font-size: 14px;
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  padding:4px 4px 4px 0px;
}
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .setting:hover {
  background-color: var(--bg-menu-hover);
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .setting {
  background-color: var(--bg-menu);
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown a {
  color: var(--fg-menu);
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .setting:hover a {
  color: var(--fg-menu-hover);
}

.rm-reference-item {
  margin-top: 0px;
}

.rm-mentions .rm-ref-page-view {
  margin-top: 8px;
}
.rm-inline-references .rm-inline-reference .rm-caret-wrapper {
    margin-top: 3px;
}
.sidebar-content > div > div {
  border-bottom: 1px solid var(--br-sidebar-content)!important;
}
.bp3-input {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bp3-input:focus, 
.bp3-input.bp3-active {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.rm-hr {
  border: none!important;
  border-bottom: 0.5px solid var(--br-hr)!important;
}
.roam-article a,
.roam-article a:hover,
  .rm-page-ref--link,
    .rm-page-ref--link:hover {
  text-decoration: underline;
} 
.rm-inline-img__resize {
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 
              0 10px 10px -5px rgba(0,0,0,.04);
}
.rm-mermaid svg {
  min-width: unset;
}
.checkmark {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -2px;
}

.check-container .checkmark:after {
  left: 4px;
  top: -0.25px;
  width: 7px;
  height: 12px;
}
.checkmark {
  border-radius: 7px;
}
.rm-pages-title-text {
  color: var(--fg-all-pages-title);
}

.rm-all-pages .table .rm-pages-row.rm-pages-row-header {
  background-color: var(--bg-all-pages-header);
}

.rm-clickable-pill, 
.rm-clickable-pill.level1-pill {
  background-color: var(--bg-all-pages-clickable-pill);
}

.rm-clickable-pill-empty {
  background-color: var(--bg-all-pages-clickable-pill-empty);
}

.rm-pages-toolbar .toolbar-search-group .search-icon {
  color: var(--fg-input-placeholder);
}

.rm-pages-toolbar .toolbar-search-group .search-input {
  background-color: var(--bg-input);
  border: 1px solid var(--br-input);
  color: var(--fg-input);
}

.rm-pages-toolbar .toolbar-search-group .search-input:focus {
  border: 1px solid var(--br-input-focus);
}

.rm-all-pages .table .rm-pages-row .rm-pages-title-col {
  color: var(--fg-all-pages-title-col);
}

.rm-all-pages .table .rm-pages-row {
  border-bottom: 1px solid var(--br-all-pages-row);
  color: var(--fg-all-pages-row);
}

.rm-all-pages .table .rm-pages-row.rm-pages-row-header {
  color: var(--fg-all-pages-header);
}

.sorted-header-text {
  color: var(--fg-all-pages-header-sorted);
}
.bp3-button:not([class*="bp3-intent-"]):hover {
  background-color: var(--bg-buttons-hover);
  color: var(--fg-buttons-hover);
}

.bp3-button[class*="bp3-icon-"]::before,
.bp3-button .bp3-icon, 
.bp3-button .bp3-icon-standard, 
.bp3-button .bp3-icon-large {
  color: var(--fg-buttons);
}

.bp3-button[class*="bp3-icon-"]:hover::before,
.bp3-button:hover .bp3-icon, 
.bp3-button:hover .bp3-icon-standard, 
.bp3-button:hover .bp3-icon-large {
  color: var(--fg-buttons-hover);
}

.bp3-button:not([class*="bp3-intent-"]) {
  background-color: var(--bg-buttons);
  color: var(--fg-buttons);
}
.rm-page-ref__brackets {
  color: var(--fg-brackets);
}
.rm-caret {
  color: var(--fg-caret);
}
div {
  font-family: var(--fnt-default);
}
#buffer {
  background-color:	var(--bg-help)!important;
}

#buffer a,
#buffer .help-title,
#buffer .help-sub-title,
#buffer .help-item-label,
#buffer .help-item-text {
  color: var(--fg-help)!important;
  font-size: var(--fnt-size-help);
  font-family: var(--fnt-help);
}
.roam-body .roam-app .roam-sidebar-container {
  background-color: var(--bg-left-sidebar);
}

#app > div > div > div.roam-sidebar-container.noselect > div > div.flex-v-box.starred-pages-wrapper > div:nth-child(1) {
  background-color: var(--bg-left-sidebar-hr)!important;
}

#roam-sidebar-logo:hover,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .rm-db-title .expand-icon:hover,
.roam-sidebar-container .top-row:hover .rm-db-title,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .top-row:hover,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button:hover {
  background-color: var(--bg-left-sidebar-hover);
  color: var(--fg-left-sidebar-hover);
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .rm-db-title .expand-icon,
.roam-sidebar-container .rm-db-title-container .rm-db-title,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
  color: var(--fg-left-sidebar);
}

.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .menu-title {
  color: var(--fg-left-dropdown-title);
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .icon {
  color: var(--fg-left-sidebar-icons);
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button,
.roam-body .roam-app .roam-sidebar-container div,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  font-family: var(--fnt-left-sidebar);
  font-size: var(--fnt-size-left-sidebar);
}
#right-sidebar {
  background-color: var(--bg-right-sidebar);
}
.roam-log-container .roam-log-page {
  border-top: 1px solid var(--fg-log-hr);
}

.roam-log-container .roam-log-preview {
  color: var(--fg-log);
}

.roam-log-container .roam-log-preview .level2 {
  font-weight: 500;
  color: var(--fg-log);
}

#block-input-ghost span {
  color: var(--fg-log)!important;
}

.rm-block--ghost .controls .simple-bullet-inner, 
.rm-block--ghost .rm-block__controls .simple-bullet-inner {
  background-color: var(--fg-log);
  margin-left: 1px;
}
.bp3-popover .bp3-popover-arrow-fill {
  fill: var(--bg-menu);
}

.bp3-elevation-3 {
  background: var(--bg-menu)!important;
  color: var(--fg-menu)!important;
}

.bp3-elevation-3 div {
  color: var(--fg-menu)!important;
}

.bp3-popover .bp3-popover-content,
.bp3-menu {
  background: var(--bg-menu);
  color: var(--fg-menu);
}

.rm-find-or-create-wrapper .rm-menu-item .rm-search-list-item,
.bp3-menu-item {
  color: var(--fg-menu);
}

.bp3-menu-item:hover, 
.bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-menu-item {
  background: var(--bg-menu-hover);
  color: var(--fg-menu-hover);
}

.bp3-elevation-3 div,
.bp3-overlay div,
.bp3-menu-item div {
  font-family: var(--fnt-menu);
}

.bp3-popover-content > div > div > div > div > div > div {
  color: var(--fg-menu)!important;
}

.rm-line {
  border-color: var(--br-menu-hr)!important;
}
.rm-topbar {
  background-color: var(--bg-topbar);
}

.bp3-input {
  background-color: var(--bg-input);
  color: var(--fg-input);
  border: 1px solid var(--br-input);
  font-family: var(--fnt-input);
}

.bp3-input:focus {
  border: 1px solid var(--br-input-focus);
}

.bp3-input-group>.bp3-input-left-container>.bp3-icon, 
.bp3-input-group>.bp3-icon,
.bp3-input::placeholder {
  color: var(--fg-input-placeholder);
  font-family: var(--fnt-input);
}

#app > div > div > div.flex-h-box > div.roam-main > div.roam-topbar > div > div.rm-find-or-create-wrapper > div > div.bp3-overlay.bp3-overlay-inline > div > div > div > ul > div:nth-child(1) {
  color: inherit!important;
  opacity: 0.7;
}
.rm-block-ref {
  border-bottom: 0.5px solid var(--br-block-ref);
}

.rm-block-ref:hover {
  background-color: var(--bg-block-ref-hover);
}
body {
  background-color: var(--bg-body);
}

.roam-body .roam-app {
  color: var(--fg-body);
}

.roam-article textarea,
.roam-article div,
.rm-ref-page-view div,
.rm-block-main div,
.rm-block-main textarea,
.rm-ref-page-view textarea {
  font-family: var(--fnt-text);
  font-size: var(--fnt-size-text);
}

.rm-title-editing-display textarea {
  font-family: var(--fnt-text);
  font-size: var(--fnt-size-page-title);
}
.rm-page-ref__brackets {
  color: var(--fg-brackets);
}
.rm-zoom-path .rm-zoom-item,
.rm-zoom .rm-zoom-item {
  background-color: var(--bg-zoom);
  color: var(--fg-zoom);
}

.rm-zoom.zoom-path-view .rm-zoom-mask {
  background-color: var(--bg-zoom-mask);
}
.rm-bullet__inner {
  background-color: var(--bg-bullet-inner);
}

.sidebar-content .rm-bullet.rm-bullet--closed .rm-bullet__inner,
.rm-bullet.rm-bullet--closed .rm-bullet__inner {
  border: 4px solid var(--br-bullet-outer);
}

.block-border-left {
  border-left: 1px solid var(--br-block);
}
h1.level2,
.rm-level2, 
.rm-heading-level-2 > .rm-block__self .rm-block__input {
  color: var(--fg-h2);
}

.roam-body .roam-app h1 {
  color: var(--fg-page-title);
}

.rm-level1, 
.rm-heading-level-1 > .rm-block__self .rm-block__input {
  color: var(--fg-h1);
}

.rm-level3, 
.rm-heading-level-3 > .rm-block__self .rm-block__input {
  color: var(--fg-h3);
}

.roam-body .roam-app h1,
.rm-level1, 
.rm-heading-level-1 > .rm-block__self .rm-block__input {
  font-family: var(--fnt-h1);
  font-size: var(--fnt-size-h1);
  font-weight: var(--fnt-weight-h1);
  font-style: var(--fnt-style-h1);
}

h1.level2,
.rm-level2, 
.rm-heading-level-2 > .rm-block__self .rm-block__input {
  font-family: var(--fnt-h2)!important;
  font-size: var(--fnt-size-h2);
  font-weight: var(--fnt-weight-h2);
  font-style: var(--fnt-style-h2);
}

.rm-level3, 
.rm-heading-level-3 > .rm-block__self .rm-block__input {
  font-family: var(--fnt-h3);
  font-size: var(--fnt-size-h3);
  font-weight: var(--fnt-weight-h3);
  font-style: var(--fnt-style-h3);
}

.roam-body .roam-app h1,
.roam-body .roam-app .roam-main .roam-article .rm-title-display {
  font-family: var(--fnt-page-title)!important;
  font-size: var(--fnt-size-page-title);
}
.rm-highlight {
  background-color: var(--bg-highlight);
}

.block-highlight-grey {
  background-color: var(--bg-highlight-grey);
}

.block-highlight-blue {
  background-color: var(--bg-highlight-blue);
}

.block-highlight-yellow {
  background-color: var(--bg-highlight-yellow);
}
.rm-inline-references {
    background-color: var(--bg-inline-ref);
    border-left: 2px solid var(--br-inline-ref);
}
a {
  color: var(--fg-link);
}

a:hover {
  color: var(--fg-link-hover);
}

.rm-page-ref--link {
  color: var(--fg-reference);
}

.rm-page-ref--link:hover {
  color: var(--fg-reference-hover);
} 
.rm-reference-item {
  background-color: var(--bg-reference);
}
.rm-page-ref--tag {
  color: var(--fg-tag);
}
.rm-calc-val {
  color: var(--fg-calc);
}
code {
  color: var(--fg-inline-code);
  background: var(--bg-inline-code);
  border: 1px solid var(--br-inline-code);
}
.CodeMirror,
.CodeMirror-code {
  background-color: var(--bg-code);
  color:			var(--fg-code);
}

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  background-color: var(--bg-code-filler);
}

.CodeMirror-gutters {
  border-right: 1px solid var(--br-code-gutters);
  background-color: var(--bg-code-gutters);
}

.CodeMirror-linenumber {
  color: var(--fg-code-linenumber);
}

.CodeMirror-guttermarker {
  color: var(--fg-code-guttermarker);
}

.CodeMirror-guttermarker-subtle {
  color: var(--fg-code-guttermarker-subtle);
}

.CodeMirror-cursor {
  border-left: 1px solid var(--br-code-cursor);
}

.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid var(--br-code-secondary-cursor);
}

.cm-fat-cursor .CodeMirror-cursor {
  background-color: var(--bg-code-fat-cursor);
}

.cm-fat-cursor-mark {
  background-color: var(--bg-code-fat-cursor-mark);
}

.cm-animate-fat-cursor {
  background-color: var(--bg-code-fat-cursor-animate);
}

.CodeMirror-ruler {
  border-left: 1px solid var(--br-code-ruler);
}

div.CodeMirror span.CodeMirror-matchingbracket {
  color: var(--fg-code-matchingbracket);
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: var(--fg-code-nonmatchingbracket);
}

.CodeMirror-matchingtag {
  background: var(--bg-code-matchingtag);
}

.CodeMirror-activeline-background {
  background: var(--bg-code-activeline);
}

.CodeMirror-selected {
  background: var(--bg-code-selected);
}

.CodeMirror-focused .CodeMirror-selected {
  background: var(--bg-code-focused);
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: var(--bg-code-selection);
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: var(--bg-code-selection);
}

.cm-searching {
  background-color: var(--bg-code-searching);
}
.cm-s-default .cm-header {
  color: var(--fg-code-header);
}

.cm-s-default .cm-quote {
  color: var(--fg-code-quote);
}

.cm-negative {
  color: var(--fg-code-negative);
}

.cm-positive {
  color: var(--fg-code-positive);
}

.cm-s-default .cm-keyword {
  color: var(--fg-code-keyword);
}

.cm-s-default .cm-atom {
  color: var(--fg-code-atom);
}

.cm-s-default .cm-number {
  color: var(--fg-code-number);
}

.cm-s-default .cm-def {
  color: var(--fg-code-def);
}

.cm-s-default .cm-variable-2 {
  color: var(--fg-code-variable-2);
}

.cm-s-default .cm-variable-3,
.cm-s-default .cm-type {
  color: var(--fg-code-variable-3);
}

.cm-s-default .cm-comment {
  color: var(--fg-code-comment);
}

.cm-s-default .cm-string {
  color: var(--fg-code-string);
}

.cm-s-default .cm-string-2 {
  color: var(--fg-code-string-2);
}

.cm-s-default .cm-meta {
  color: var(--fg-code-meta);
}

.cm-s-default .cm-qualifier {
  color: var(--fg-code-qualifier);
}

.cm-s-default .cm-builtin {
  color: var(--fg-code-builtin);
}

.cm-s-default .cm-bracket {
  color: var(--fg-code-bracket);
}

.cm-s-default .cm-tag {
  color: var(--fg-code-tag);
}

.cm-s-default .cm-attribute {
  color: var(--fg-code-attribute);
}

.cm-s-default .cm-hr {
  color: var(--fg-code-hr);
}

.cm-s-default .cm-link {
  color: var(--fg-code-link);
}

.cm-s-default .cm-error {
  color: var(--fg-code-error);
}

.cm-invalidchar {
  color: var(--fg-code-invalidchar);
}
code,
.CodeMirror .CodeMirror-code pre {
  font-family: var(--fnt-code);
  font-size: var(--fnt-size-code);
  font-style: normal!important;
}

.CodeMirror-linenumber.CodeMirror-gutter-elt {
  font-family: var(--fnt-code);
}
.rm-embed-container {
  background-color: var(--bg-embed-1);
}
.rm-embed-container .rm-embed-container {
  background-color: var(--bg-embed-2);
}
.rm-embed-container .rm-embed-container .rm-embed-container {
  background-color: var(--bg-embed-3);
}
.rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container {
  background-color: var(--bg-embed-4);
}
.rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container {
  background-color: var(--bg-embed-5);
}
.rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container {
  background-color: var(--bg-embed-1);
}
.rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container {
  background-color: var(--bg-embed-2);
}
.rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container {
  background-color: var(--bg-embed-3);
}
.rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container {
  background-color: var(--bg-embed-4);
}
.rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container {
  background-color: var(--bg-embed-5);
}
.rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container .rm-embed-container {
  background-color: var(--bg-embed-1);
}
.rm-hr {
  border: 1px solid var(--br-hr);
}
.kanban-board {
  background-color: var(--bg-kanban-board);
}

.kanban-column {
  background-color: var(--bg-kanban-column);
  border-right: 1px solid var(--br-kanban-column);
}

.kanban-card {
  background-color: var(--bg-kanban-card);
  color: 			var(--fg-kanban-card);
}

.kanban-title {
  border-bottom: 1px solid var(--br-kanban-board);
}
.bp3-card {
  background-color: var(--bg-mermaid);
}

.node rect, 
.node circle, 
.node ellipse, 
.node polygon, 
.node path {
  fill: var(--bg-mermaid-node)!important;
  stroke: var(--br-mermaid-node)!important;
}

.node .label {
  color: var(--fg-mermaid-label)!important;
}
.rm-pomodoro {
  background: var(--bg-pomodoro)!important;
  border: 1px solid var(--br-pomodoro);
  color: var(--fg-pomodoro);
}

.rm-pomodoro span {
  color: var(--fg-pomodoro);
}

.rm-pomodoro.running {
  background: var(--bg-pomodoro-running)!important;
  color: var(--fg-pomodoro-running)!important;
  border: 1px solid var(--br-pomodoro-running);
}

.rm-pomodoro.break {
    background: var(--bg-pomodoro-break) !important;
    border: 1px solid var(--br-pomodoro-break);
    color: var(--bg-pomodoro-break) !important;
}
.rm-query {
  border: 0.5px solid var(--br-query);
}

.rm-query .rm-query-title {
  background-color: var(--bg-query-title);
  color: var(--fg-query-title);
}
.rm-bq {
  background-color: var(--bg-quote);
  color: var(--fg-quote);
  border-left: 5px solid var(--br-quote);
  font-size: var(--fnt-size-quote);
  font-style: var(--fnt-style-quote);
}
.roam-table th, 
.roam-table td, 
.roam-table tr {
  border: 1px solid var(--br-table);
}
.checkmark {
  border: 1px solid var(--br-checkbox);
}

.check-container input:checked ~ .checkmark {
  background-color: var(--bg-checkbox-checked);
}

.check-container .checkmark:after {
  border: solid var(--br-checkmark);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(40deg) scale(0.8);
}
.version-bullet {
  background-color: var(--bg-version-bullet)!important;
}

.rm-select-version-button.rm-button-selected {
  color: var(--fg-version-selected);
}

.roam-block-container .rm-block-main .rm-version-choice-wrapper .rm-version-choice {
  border-bottom: 0.5px solid var(--br-version);
}
